.movie {
  text-align: center;
  margin-bottom: 32px;
  perspective: 1000px;

  &_inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;

    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  &:hover .movie_inner{
    transform: rotateY(180deg);
  }

  .movie_front, .movie_back{
    
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  &_front{
    position: relative;

  }

  &_back{
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    background-color: #333;
    color: #fff;
    padding: 32px;
    border-radius: 12px;
    max-height: 400px;
    max-width: 250px;
    left: 28px;
  }

  &__title {
    margin-top: 12px;
  }

  &__description {
    text-align: left;
    height: 150px;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button {
    background: #333;
    padding: 8px 16px;
    width: 50%;
    color: #fff;
    border-radius: 16px;

    &--active {
      background: #1fab2e;
      color: #fff;
      border: 1px solid #1fab2e;
    }
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
  }
}

.filter__button {
  background: none;
  padding: 8px 16px;
  color: #484848;
  border-radius: 48px;
  min-width: 120px;
  border: 1px solid #484848;

  &--active {
    border: 1px solid #1fab2e;
    background: #1fab2e;
    color: #fff;
  }
}
